#navbar {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  color: var(--color-primary);
  background: var(--color-bg-primary);
  position: fixed;
  top: 0;
}

.nav-links {
  width: 100%;
  display: flex;
  gap: var(--spacing-m);
  justify-content: center;
}

.page-links, .social-links {
  display: flex;
  gap: var(--spacing-m);
  color: var(--color-secondary);
}

.social-links svg {
  width: 2rem;
  height: auto;
}

:is(.page-links, .social-links) a {
  color: var(--color-secondary);
  text-decoration: none;
}

:is(.page-links, .social-links) a:hover {
  color: var(--color-primary);
}

#navbar .logo {
  width: 4rem;
  color: var(--color-primary);
}

/* MEDIA QUERIES */

/* TABLET / LAPTOP */
@media screen and (min-width: 769px) {
  :root {
  --navbar-height: 9rem;
  }

  #navbar .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-links {
    justify-content: space-between;
    padding: 0 12vw;
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
  /* MORE RULES */
}